
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Areas/Admin/Views/Shared/ChiTiet.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h4 style="color:white; text-align:center">Đặt lịch thành công</h4>
<a href="~/Admin/Phongs/ListPhong"><h4 style="text-align:center">Tiếp tục xem phòng</h4></a>
<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

