
@{
    ViewBag.Title = "ThongBao1";
    Layout = "~/Areas/Admin/Views/Shared/ChiTietXin.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h4 style="color:white; text-align:center">Đặt lịch thành công</h4>
<a href="~/Phong1s/ListPhong"><h4 style="text-align:center">Tiếp tục xem phòng</h4></a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

